fastapi==0.115.6
uvicorn[standard]==0.32.1
supabase==2.10.0
pydantic==2.10.3
earthengine-api==1.4.3

numpy==2.1.3
shapely==2.0.6
pyproj==3.7.0
rasterio==1.4.3
geopandas==1.0.1
fiona==1.10.1
pyogrio==0.10.0

pytest==8.3.4
